body{
	color: black;
	background-color: #375b91;
	display: grid;
	margin: 3em;
	margin-left: 10%;
	margin-right: 10%;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
}
header{
	font-size: 2em;
	text-align: center;
	background-color: #eae4e1;
}
nav{
	display: flex;
	justify-content: center;
	background-color: #86d277;
}
.nav {
	list-style: none;
	display: flex;
	gap: 4rem;
	margin-bottom: 2em;
	padding: 0em;
}
.countButton{
	margin: 1em;
}